.detail {
    display: grid;
    gap: 0 2rem;

    &__podrobnosti {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.2rem 0.5rem;
        margin: 0 0 1.7rem;
    }

    &__popisek {
        grid-column: 1;
        font-weight: 700;
    }

    &__podrobnosti dd {
        margin: 0;
    }

    &__plakat {
        width: 100%;
        height: auto;
    }
}

.podnadpis {
    margin: 0.8em 0 0.2em;
    font-size: 1.5rem;
}

.autor {
    font-style: italic;

    & a {
        color: $doplnkova-barva;
        text-decoration: none;
    }
}

.hodnoceni {
    width: 7.5rem;
    height: 1.5rem;
    display: flex;
    --skore: 0;

    &--skore-5 {
        --skore: 5;
    }

    &--skore-4 {
        --skore: 4;
    }

    &::before, &::after {
        content: "";
        background-image: url(obrazky/hvezda-vyplnena.svg);
        background-size: contain;
        flex-grow: var(--skore);
    }

    &::after {
        background-image: url(/obrazky/hvezda-prazdna.svg);
        flex-grow: calc(5 - var(--skore));
    }
}

@media (min-width: $sirka-obsahu)  {
    .detail {
        grid-template-columns: 1fr 12rem;
    }
}