.detail {
    display: grid;
    gap: 0 2rem;
}

.detail__podrobnosti {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.2rem 0.5rem;
    margin: 0 0 1.7rem;
}

.detail__popisek {
    grid-column: 1;
    font-weight: 700;
}

.detail__podrobnosti dd {
    margin: 0;
}

.podnadpis {
    margin: 0.8em 0 0.2em;
    font-size: 1.5rem;
}

.autor {
    font-style: italic;
}

.autor a {
    color: $doplnkova-barva;
    text-decoration: none;
}

.detail__plakat {
    width: 100%;
    height: auto;
}

@media (min-width: $sirka-obsahu)  {
    .detail {
        grid-template-columns: 1fr 12rem;
    }
}