.hlavicka {
    background-color: $hlavni-barva;

    &__obsah {
        margin: 0 auto;
        padding: $mezera-od-okraju;
        max-width: $sirka-obsahu;
    }

    &__logo {
        margin: 0;
        display: flex;
    }
}

.logo {
    text-decoration: none;
    display: inline-flex;
}