.hlavicka {
    background-color: #9c27b0;
}

.hlavicka__obsah {
    margin: 0 auto;
    padding: 1rem;
}

.hlavicka__logo {
    margin: 0;
    display: flex;
}

.logo {
    text-decoration: none;
    display: inline-flex;
}