html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: $font;
	margin: 0;
}

.layout {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}